@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 60% 95%;
    --foreground: 311 41% 14%;
    --card: 38 60% 97%;
    --card-foreground: 311 41% 14%;
    --popover: 38 60% 97%;
    --popover-foreground: 311 41% 14%;
    --primary: 311 41% 14%;
    --primary-foreground: 38 60% 98%;
    --secondary: 240 12% 30%;
    --secondary-foreground: 38 60% 98%;
    --muted: 38 60% 90%;
    --muted-foreground: 240 12% 40%;
    --accent: 351 66% 48%;
    --accent-foreground: 38 60% 98%;
    --destructive: 351 66% 48%;
    --destructive-foreground: 38 60% 98%;
    --border: 38 60% 85%;
    --input: 38 60% 85%;
    --ring: 351 66% 48%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
